<h1>Articles</h1>
<% for i in @articles %>
<h2><%= link_to i.title, article_path(i)%></h2>
<p><%=link_to "delete", article_path(i.id), method: :delete %></p> 
<% end %>
<p><%=link_to "create", new_article_path %></p>

